@import "tailwindcss";
@import "./Mixins";
// @import "../fonts/outfit/style.css";


/* General styles */
// body, * {
//   box-sizing: border-box;
//   outline: 0;
//   padding: 0;
//   margin: 0;
// }

:root {
  --primary-color: #0988c9;
  --secondary-color: #242D47;
  --bg-color: #F8FAFC;
  --bg-second-color: #F1F5F9;
  --text-color: #4464AD;
  --text-custom: #2D679F;
  --text-invert: #FFFFFF;
  --success-color: #4CAF50;
  --error-color: #f6323f;
  --warning-color: #FF9800;
  --primary-font: 'Artegra Sans', sans-serif;
  --secondary-font: 'Artegra Sans', sans-serif;
}


html {
  font-size: 62.5%;
  font-family: var(--primary-font)!important;

  @media screen and (max-width: 900px) {
    font-size: 55%;
  }
}
@layer base {

 body{
  @include flex(center, false, stretch);
  flex-wrap: wrap;  
  font-family: var(--primary-font)!important;
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
}

.body{
  @include flex(center, false, stretch);
  flex-wrap: wrap;
  width: 100%;
  height: 100%;  
}

.article{
  @include article-box;
}
.section{
  @include section-box;
}

.box{
  @include section-box;
}

// body{
//   cursor: url("/cursor.png"), default;
// }

h1{
  @include text(9.6rem, 700, auto);
}
h2{
  @include text(6.4rem, 700, auto);
}
h3{
  @include text(4.8rem, 700, auto);
}
h4{
  @include text(3.6rem, 700, auto);
}
h5{
  @include text(2.4rem, 500, auto);
}
h6{
  @include text(2rem, 400, auto);
}

p{
  white-space: break-spaces;
  @include text(1.6rem, 400, 2.4rem);
  margin-bottom: 0;
}
input,
select,
textarea,
button {
  background-color: transparent;
  border: 0;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: none;
  }
}

button {
  cursor: pointer;
  transition: all 0.1s linear;
}
button:active {
  transform: translateY(4px);
}

a{
  text-decoration: none;
  color: var(--text-color);
  &:hover{
    text-decoration: none;
    color: var(--text-color);
  }
}

.scroll{
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #ff5b2011 #f3f3f300;
  scrollbar-width: thin;
}
.scroll::-webkit-scrollbar-thumb {
  background: #ff5b2043;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar{
  width: 0px;
  height: 3px;
}

.scroll::-webkit-scrollbar-thumb:active {
  background-color: #ff5b2021;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #ff5b2021;
}

 /* Estilos track de scroll */
.scroll::-webkit-scrollbar-track {
  background: #f3f3f300;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-track:hover, 
.scroll::-webkit-scrollbar-track:active {
  background: #00000000;
}

.icon{
  width: 16px;
    height: 16px;
    transition: 0.5s;
    // margin: 0 8px;
    // color: var(--text-invert);
}

img{
  width: 100%;
}

.btn-primary{
  @include button(solid, 32px);
  max-width: inherit;
  width: 100%;
  padding: 8px;
}

.bordered{
  @include border;
}
  
}

 